
body{
	text-align: center;
	background-color: #08111e;
	font-family: sans-serif;
}
h1{
	color: white;
	padding-top: 4%;
	font-size: 35px;
}
h3{
	color: yellow;
	font-size: 30px;
	font-weight: 400;
	margin-top: -10px;
}
input{
	width: 200px;
	height: 30px;
	font-size: 18px;
	border: none;
	text-align: center;
}
.hola{
	background-color: yellow;
	display: block;
	margin: auto;
	margin-top: 10px;
	width: 405px;
	cursor: pointer;
}
.hola:hover{
	background-color: #FFEB3B;
}
img{
	padding-top: 50px;
}

@media screen and (max-width: 768px){
	img{
		padding-top: 160px;
	}
	h1{
		font-size: 30px;
	}
	h3{
		font-size: 25px;
	}
	input{
		display: block;
		margin: auto;
		margin-top: 10px;
		width: 405px;
		height: 40px;

	}
}

@media screen and (max-width: 512px){
	img{
		width: 300px;
		padding-top: 100px;
	}
	input{
       width: 330px;
	}
	.hola{
		width: 330px;
	}
}

@media screen and (max-width: 320px){
	img{
		width: 200px;
		padding-top: 75px;
	}
	h1{
		font-size: 18px;
	}
	h2{
		font-size: 2px;
	}
	input	{
		width: 250px;
	}
	.hola {
		width: 250px;
	}
}